{{> tophead }}

<div
    class="data"
    id="data"
    data-session="{{session.id}}"
    data-username="{{session.username}}"
    data-loggedin="{{loggedIn}}"
></div>
<script type="text/javascript">window._trackJs = { token: '9a8be0359b2e4cb49b8014bb1779aca5' };</script>
<script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
<div id="app"></div>

{{> footer }}
